<div class="modal fade" id="displayOfferModal" tabindex="-1"
     aria-labelledby="displayOfferModal" data-bs-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-close m-3" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            {% include "offer/_offer_card.html.twig" %}
        </div>
    </div>
</div>