<div class="h-100 p-3 d-flex flex-column justify-content-between">
    <div>
        <p class="fs-15 fw-semibold" id="titleOffer"></p>
        <p class="text-primary fs-11"
           id="companyNameOffer"></p>
        <div class="d-flex text-gray text-primary fs-11">
            <p class="" id="contractTypeOffer"></p>
            <p class="mx-2"> • </p>
            <p class="" id="locationOffer"></p>
            <p class="mx-2"> • </p>
            <p class="" id="salaryOffer"></p>
        </div>
    </div>
    <div class="h-75 border border-black p-2">
        <p id="descriptionOffer"></p>
    </div>
    <div class="d-flex flex-column align-items-start justify-content-end mt-2 text-gray">
        <p class="fs-semibold fs-14" id="dateOffer"></p>
        <button class="btn btn-primary"><em class="bx bx-send side-menu__icon me-3"></em>Postuler</button>
    </div>
</div>
