<div class="my-2 d-flex justify-content-between">
    <div class="d-flex">
        <div>
            <input id='searchInput' class="form-control form-control-lg mt-2 mb-4"
                   placeholder="Recherche d'un mot clé">
        </div>
        <div class="mx-2">
            <button data-action="click->tool#displayToolsByKeyword" class="btn btn-lg btn-primary mt-2 mb-4"><em
                        class="bx bx-search side-menu__icon"></em></button>
        </div>
    </div>
</div>